@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vermelho: #f23224;
  --azul: #82c2d9;
  --preto: #171716;
  --branco:#f7f5f5;
  --cinza: #ebedf0;
  --cinzaMedio: #e3e5e8;
  --cinzaEscuro:  #6b7280;
  --border: 0 0% 89.8%;
  --radius: 0.5rem;
}


body {
  color: var(--preto);
  background: var(--branco);
}
